<div class="card_add_basket">
    <div class="row">

        {% for good in products %}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <a href="#">
                    <img class="card-img-top"
                         src="/media/{{good.image}}"
                         alt="">
                </a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="{% url 'mainapp:detail' good.id %}">{{good.name}}</a>
                    </h4>
                    <h5>{{good.price}} руб.</h5>
                    <p class="card-text">{{good.definition}}</p>
                </div>
                <div class="card-footer text-center">
                    <!--                                <button type="button" class="btn btn-outline-success">Отправить в корзину</button>-->
<!--                    <a href="{% url 'basket:basket_add' good.id %}" class="btn btn-outline-success">Отправить в-->
<!--                        корзину></a>-->
                <button type="button" class="btn btn-outline-success" value="{{ good.id }}">
                    Отправить в корзину
                </button>

                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>